<!DOCTYPE html>
<html>
<head>
    <title>Manual</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
</head>
<body>
    <main>
        <h1>Manual download</h1>
        <form action="/downloadfile" method="post">
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <div class="input-box">
                <label for="filename">File name:</label>
                <input type="text" name="filename" id="filename" required>
            </div>
            <div class="button-box">
                <button type="submit">Download</button>
            </div>
        </form>
    </main>
</body>
</html>

