<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/styles.css">
</head>
<body>
    <main>
        <h1>Login</h1>
        <form action="{{ url_for('authenticate') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <div class="box">
                <input type="text" id="username" name="username" required placeholder="Username">
            </div>

            <div class="box">    
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>    

            <div class="samebox">
                <input type="submit" value="Login">
                <div class="data" type="/button" onclick="redirectToSearch()">Search the data</div>
            </div>
        </form>
    </main>
</body>
</html>
<script>
    function redirectToSearch() {
        window.location.href = "/search";
    }
</script>